# Site wide configuration

title:            Francisco Suárez Ruiz
locale:           en_US
url:


# Jekyll configuration
permalink:   /:categories/:title/
markdown:    kramdown
highlighter: pygments
sass:
  sass_dir: _sass
  style: compressed
gems:
  - jekyll-sitemap
  - jekyll/scholar

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  enable_coderay: false


# Publications
scholar:
  style: annales
  locale: en

  sort_by: year
  order: descending

  source: /_data
  bibliography: publications.bib
  bibliography_template: bibitem

  replace_strings: false
  join_strings:    true

  details_dir: ''
  details_layout: ''
  details_link: ''

  query: "@*"

# Site owner
owner:
  name: Francisco Suárez-Ruiz
  avatar: bio-photo.png
  bio: "I'm from Bogotá, Colombia. Currently in Singapore. Passionate about robotics, technology and football."
  email: <username>@gmail.com
  disqus-shortname:
  twitter: #username
  facebook: #username
  google:
    plus: #username
    analytics:
    verify:
    ad-client:
    ad-slot:
    scholar: uXo_Q_IAAAAJ
  bing-verify:
  github: fsuarez6
  stackoverflow: #123456/username   from a "http://stackoverflow.com/users/123456/username" link
  linkedin: fsuarez6
  xing: #username
  instagram: #username
  lastfm: #username
  tumblr: #username
  pinterest: #username
  foursquare: #username
  steam: #username
  dribbble: #username
  youtube: FSuarezRuiz
  soundcloud: #username
  weibo: #username
  flickr: #username
  codepen: #username

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "Gemfile", "Gemfile.lock", "LICENSE", "README.md"]
